@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');


body {
    box-sizing: border-box;
    box-shadow: inset 0px 0px 20px 15px #110000;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../imagens/palco-d.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

header>img {
    margin: 17px 0px 0px 17px;
    height: 170px;
}

main {
    margin: auto;
}

h1 {
    margin: 13px 0px 0px 0px;
    color: #000000;
    text-shadow: 0px 0px 3px #ff0000;
    font-size: 30px;
    font-family: "Frijole", serif;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    margin: 0px;
    font-size: 26px;
}

h4 {
    
    text-align: center;
    font-size: 34px;
}

.estilo-p{
    padding: 7px;
    border-radius: 13px;
    background-image: linear-gradient(to right, #ff00003d, #ff000000 59%);
}

.paraG{
    font-size: 21px;
    padding: 7px;
    border-radius: 13px;
    background-image: linear-gradient(to right, #ff00003d, #ff000000 59%);
}

.titulo1 {
    padding: 4px;
    margin-bottom: 26px;
    height: 150px;
    width: 420px;
    margin-top: 32px;
}

.chamada>h2 {
    font-size: 34px;
}

.chamada>p {
    font-size: 21px;
}

.chamada {
    box-shadow: inset 0px 0px 7px 2px black;
    border-radius: 10px;
    margin: auto;
    background-color: #ffffff1f;
    width: 90%;
}


.container2>div>div>p {
    font-size: 17px;
}

.container1 {
    display: flex;
    justify-content: center;
}



.container2 {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 82%;
    background-color: #202020e8;
    padding: 17px;
    border-radius: 31px;
    box-shadow: 0px 0px 19px 3px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-shadow: 1px 1px 0px black;
}

.bandas1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin: auto;

}

.bandas2>img {
    height: 213px;
    width: 213px;
}

.bandas2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #313131;
    flex-basis: 500px;
    padding: 9px;
    margin: 9px;
    box-shadow: 3px 3px 5px 2px #00000091;
    border-radius: 10px;
}

#areas-descanso {
    padding: 11px;
    height: 510px;
    width: 425px;
    align-self: center;
}

.atividades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.atividades2 {
    display: flex;
    flex-direction: column;
    background-color: #313131;
    padding: 4px;
    flex-basis: 425px;
    margin: 13px;
    padding: 9px;
    box-shadow: 3px 3px 5px 2px #00000091;
    border-radius: 10px;
}

.atividades2>img {
    width: 383px;
    height: 383px;
}


.atividades-t {
    width: 100%;
}

.atividades-t>p {
    font-size: 21px;
}

.palco-container {
    margin-top: 50px;
}

.img-palco {
    width: 70%;
    margin: auto;
}

.img-palco>img {
    box-shadow: 2px 2px 10px 4px black;
    width: 100%;
    border-radius: 20px;
}

footer {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0px black;
    font-size: 17px;
    color: #d4d4d4;
    padding: 5px;
    border-top: 3px solid #a1a1a1;
    padding-bottom: 10px;
    background-color: #3f3f3fe8;
}

footer>p>a {
    color: #70ddff;
    text-decoration: none;
}